@charset "utf-8";
/* CSS Document */
/*font-face*/
@font-face {
 /* font-family: graynormal;
  src:url(GRAYSTROKEREGULAR.otf);*/
}

/*general styling*/

body{
	margin:0;
	padding-top:0px;;
	font-family:graynormal, "微軟正黑體",sans-serif;
	}
header{
	background-color:#0074ff;
	height:88px;
	}
.main{
/*	padding-top:50px; */
	/*max-height:1024px;*/
/*	height:936px;*/
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    background-image:url(oMask_bg.jpg);
    background-position:center;
    background-size: cover;
    background-color:#d6d6d6;
    background-repeat: no-repeat;
/*	background:#FFF;*/
	/*overflow:hidden;*/
	margin:auto;
	/*max-width:768px;*/
	}
	
h3{
    margin:0;
}

h4{
    margin:0;
}

a#quickstitch img {
    width: 12%;
    position: absolute;
    z-index: 99999999;
    border-radius: 100%;
    padding: 5px;
    right: 5px;
    bottom: 5px;
    display: none;
}
.logotitle{
	margin:0;
	padding:0;
	line-height:88px;
	color:#FFF;
	}
#settings {
	background-color:rgba(44, 166, 224, 0.901961);
	background-image:url('showinfo/css/icon_light.png');
	position:absolute;
	background-position:50%;
	background-size:95%;
	top:10%;
	right: 2%;
	cursor:pointer;
	background-repeat: no-repeat;
}
.container{
	width:100%;
	/*max-width:768px;*/
	margin:auto;
	}
section{
	padding:20px;
	}	
	
.title {
	font-family: Arial, Helvetica, sans-serif;
}

#usingtime{
    position:absolute;
    top:30%;
    left:0;
    height:15%;
    width:100%;
	text-align:center;
/*	padding-top:30px;*/
	}
	
.timer{
	color:#000000;
	font-size:150px;
	}
	
subtitle{
	font-weight:bold;
	font-size:10vw;
	}
.blackbg{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	z-index:998;
	display:none;
	}
/*main ctrl*/
.section#mainctrl{
    position:absolute;
    top:45%;
    left:0;
    height:55%;
    width:100%;
	text-align:center;
/*	padding-top:60px;*/
	}
.one-four{
	width:22%;
	display:inline-block;
	vertical-align: middle;
	}
.one-two{
	width:50%;
	display:inline-block;
	vertical-align: middle;
	}
h4.light-gray,h3.light-gray{
	color:#626366;
	}

.modebtn{
    background-image: url(btn_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 22px;
    color: #FFF;
    font-family: "微軟正黑體";
    border: 0;
    width: 100px;
    padding: 2.5vw 0;
    border-radius: 5px;
    /* box-shadow: 0 0 10px #666; */
    position: relative;
    cursor: pointer;
    margin: 1% auto;
    opacity:1.0;
	}

.modebtn.working{
    opacity:0.5;
}

.modebtn.working>div{
    display:none;
}

div.modelist,div.timelist,div.strlist{
	position:absolute;
/*
	width:80px;
	height:80px;
*/
	line-height:80px;
	color:#FFF;
	background-color:#0074ff;
	border-radius:100%;
	border:1px solid #EEE;
	left:10px;
	top:-10px;
	opacity:0;
	z-index:-1;
	cursor:pointer;
	transition:top 0.3s ease,left 0.3s ease,opacity 0.3s ease;
	overflow:hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
	}
div.modelist:active,div.timelist:active,div.strlist:active{
	background-color:#ff8800;
	}
#timelimit.working div.timelist.working div.strlist.working:active{
	background-color:#666;
	}
#mode.modebtn.active, #timelimit.modebtn.active, #str.modebtn.active{
	z-index:999;
	}
#str.working,#timelimit.working{
	background-color:#666;
	}
#mode.modebtn.active .modelist,#timelimit.modebtn.active .timelist,#str.modebtn.active .strlist{
	opacity:1;
	z-index:-1;
	}
.strctrl{
	width:80px;
	height:80px;
	background-image:url(strctrl.png);
	display:inline-block;
	vertical-align:middle;
	background-size:cover;
	opacity:0.2;
	transition:opacity 0.5s ease;
	}
.strctrl.working{
	opacity:1;
	}
.strctrl:active{
	background-image:url(strctrl_active.png);
	}
.strctrl#reduce{
	background-position:0 0;
	}
.strctrl#add{
	background-position:100% 0;
	}
.strbtn{
	display:inline-block;
	box-shadow: 0 0 2px #aaa;
	text-align:center;
	border-radius:100%;
	vertical-align:middle;
	}
.strbtn#reduce, .strbtn#add{
	width:50px;
	height:50px;
	line-height:50px;
	color:#FFF;
	background-color:#0074ff;
	}
.strbtn#status{
    background-image: url(strbtn_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	height:200px;
	width:200px;
	color:#FFF;
	}
.strbtn#status div{
	/*position:relative;*/
	/*padding-top:90px;*/
	font-size:90px;
	/*padding-top:90px;*/
	line-height:220px;
    }
/*powerctrl*/
.detectpic{
	width:80px;
	height:80px;
	background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
	display:inline-block;
	vertical-align: middle;
	}
.detectpic#earpin{
	background-image:url(device_plug.png);
	}
.detectpic#phone{
	background-image:url(phone.png);
	}
@-webkit-keyframes detecting{
	 0%   {background-color:rgba(44,166,224,0)}
	 20%  {background-color:rgba(44,166,224,1)}
	 40%  {background-color:rgba(44,166,224,0)}
	 60%  {background-color:rgba(44,166,224,0)}
	 80%  {background-color:rgba(44,166,224,0)}
	100%  {background-color:rgba(44,166,224,0)}
}
.loadingdots{
	display:inline-block;
	}
	
.loadingdot{
	display:inline-block;
	width:13px;
	height:13px;
	border-radius:100%;
	border:1px solid #0074ff;
	}
.loadingdot.active{
	-webkit-animation-name:detecting;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	/*-webkit-animation-direction: alternate;*/
	}
.loadingdot.active:first-child {
	-webkit-animation-delay: 0s;
	}
.loadingdot.active:nth-child(2) {
	-webkit-animation-delay: 0.5s;
	}
.loadingdot.active:nth-child(3) {
	-webkit-animation-delay: 1s;
	}
.loadingdot.active:nth-child(4) {
	-webkit-animation-delay: 1.5s;
	}
.loadingdot.active:nth-child(5) {
	-webkit-animation-delay: 2s;
	}
.loadingdot.active:nth-child(6) {
	-webkit-animation-delay: 2.5s;
	}
/*powerbtn*/

#powerbtnX{
/*	display:none;*/
    opacity: 0.5;
    position: absolute;
    top: 10%;
    /* left: 0; */
    text-align: center;
    height: 20%;
	}

.powerbtnX.active{
	display:none;
}

#powerbtnX.online {
    opacity:1.0;
}

div.powerbtn,div.powctrlbtn{
	background-image:url(opower.png);
	background-position:0,0;
	margin:auto;
	position:relative;
	width: 25vw;
  height: 25vw;
  background-size: cover;
	}

.powerbtnX{
/*	background-image:url(opower.png);*/
	background-position:0,0;
	margin:auto;
	position:relative;
    height: 100%;
    background-size: cover;
	}

.powerbtnX h3{
	  position: absolute;
      width: 100%;
      text-align: center;
      bottom: -40%;
	  font-size:25px;
    margin:0;
}

.powerbtn.noactive {
	background-position:0,0;
	}
.powerbtn.active{
	background-position:-100% 0;
	display:none;
	}
.powctrlbtn.play{
	background-position:-200% 0;
	display:none;
	display:block;
	margin:0 5px;
	}
.powctrlbtn.stop{
	background-position:-300% 0;
	display:none;
	display:block;
	margin:0 5px;
	}
#powctrlbtn{
	display:none;
	text-align:center;
	}

#powctrlbtn::before {
    display:inline-block;
    content:'';
    width:0;
    height:100%;
    vertical-align:middle;
}

div#detect {
    margin-top: 3vh;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#BusyMsg{
	display:none;
}

span.time{
	cursor:pointer;
	}

#switchIcon {
    width: 12%;
    height: 10%;
    position: absolute;
    z-index: 99999999;
    border-radius: 100%;
    padding: 5px;
    right: 5px;
    bottom: 5px;
    background-image: url(../files/icon_body.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#switchIcon.face{
    background-image: url(../files/icon_face.png);
}
#modeBar {
    position:relative;
    height:20%;
    width:100%;
    display:table;
}

#modeBar.working{
    opacity:0.5;
}

.modeItem {
    display:table-cell;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}

#faceMode {
    background-image:url(face_icon_off.png);
}

#faceMode.active {
    background-image:url(face_icon.png);
}
#handMode {
    background-image:url(hand_icon_off.png);
}
#handMode.active {
    background-image:url(hand_icon.png);
}
#footMode {
    background-image:url(foot_icon_off.png);
}
#footMode.active {
    background-image:url(foot_icon.png);
}
.inlineMsg {
    display:inline-block;
}

div#logo {
    position:absolute;
    top:0;
    left:22%;
    width:56%;
    height:10%;
    background-image:url(oMask_logo.png);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}

.powerDiv {
    display:inline-block;
}
