@charset "utf-8";
/* CSS Document */
html,body{
width:100%;
height:100;
padding:0;
margin:0;	
}

a#quickstitch img {
    width: 12%;
    position: absolute;
    z-index: 99999999;
    background: #efefef;
    border-radius: 100%;
    padding: 0px;
    right: 5px;
    bottom: 5px;
}

div:active,
div:focus,
div.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

*{
  -webkit-user-select: none;
}

body{
  background-image:url(bg.png);	
  font-family:"微軟正黑體";
}

/*loadingpic*/
#slider01{
  text-align:center;
  width:100%;	
}
#slider01 img{
  margin:0 2px;
  border:2px solid rgba(0,0,0,0);
  max-height:100%;
  max-width:100%;
}

#slider01 img.active{
  border-color:#FF0;
}

#slidermain01{
  text-align:center;
  
}

#slidermain01 img{
 max-width:90%;	
 max-height:100%;	

}

#slidermain02{
  text-align:center;
}
div#slidermain02 {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 5%;
	display:none;
	opacity:0.6;
	transition:opacity 0.5s ease;
}

div#slidermain02.active {
	z-index:1;
	opacity:1;
}


#slidermain02 .bx-wrapper {
    height: 100%;
}

#slidermain02 .bx-viewport {
    height: 100% !important;
}

#slidermain02 li {
    width: 100% !important;
}


.spic{
width:100%;
height:100%;	
background-size:contain;
background-repeat:no-repeat;
background-position:center;
}

.bx-pager.bx-default-pager {
    text-align: center !important;
    bottom: -20px !important;
    right: 20px !important;
    z-index: 1;
}

/*MAIN*/
#main{
  display:none;
  /*background-image:url(bull_3.png);*/
  background-repeat:no-repeat;
  background-position:center;	
  /*background-color: #4a4e59;*/
  border-radius:25px;

}
#time{
  text-align:center;
  color:#FFF;
  display:inline-block;	
  vertical-align: middle;
}

#redtime,#addtime{
color:orange;	
display:inline-block;
text-align:center;
vertical-align: middle;
}

#redtime:active,#addtime:active{
color:#FFF;	
}

/*power*/
#power{
 /* border-radius:100%;
  border-width:5px;
  border-style:solid;
  border-color:#999;
  border-radius:100%;
  margin:8% auto 5% ;
  box-shadow:0 0 2px 2px rgba(255,255,255,.3) inset ;*/	
  position:relative;
}

.btn{
  border-radius:100%;
  background-size:contain;
  text-align:center;
}

#offbtn,#resetbtn{
  border-radius:100%;
  background-size:contain;
  text-align:center;
  display:none;
}

.btn img{
  height:90%;
  margin-top:10%;	
}


.tips{
  border-width:2px;
  border-style:solid;
  text-align:center;	
  margin-top:10px;
}
/*mode*/
.set{
  color:#FFF;
  text-align:center;
  border-top:2px solid #666;
  border-bottom:2px solid #111;
  padding:10px;
}
.mode{
  background-color:#fbfbfb;
  box-sizing:border-box;
  padding-left:5%;
  border-bottom:2px	solid #eee;
  color:#2a2a2a;
 }
.mode:active{
  color:#fbfbfb;
  background-color:#666;
 }
#settimediv,#setmodediv{
	display:none;
	}

#close{
	border-radius:100%;
	margin:auto;
	font-weight:bold;
	color:#FFF;
	background-color:red;
	text-align:center;
	position:relative;
	top:10px;
	display:none;
	}

#closepic{
	border-radius:100%;
	margin:auto;
	font-weight:bold;
	color:#FFF;
	background-color:red;
	text-align:center;
	position:relative;
	}
	
div#closepicfa {
    position: absolute;
    width: 100%;
    top: 88%;
    background-color: #efefef;
    padding: 3px;
    box-sizing: border-box;
    z-index: 3;
	display:none;
}


/*frequency*/
input[type=range]{
    -webkit-appearance: none;
	 width: 80%;
	 display:block;
	 margin:auto;
	 background:none;
}

input[type=range]::-webkit-slider-runnable-track {
   
    height: 20px;
    background: #ddd;
    border: none;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
/*ENERGY BAR*/
#energy{
  box-shadow:0 0 5px rgba(0,0,0,.8) inset ;
  margin:auto;	
}
#bar{
height:90%;
width:99%;
position:relative;
top:5%;
left:0.5%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6fce6f+0,e2e524+49,f43030+100 */
background: #6fce6f; /* Old browsers */

}





/*LOADING*/

#loading{
  width:100%;
  height:100%;
  position:relative;
}

#bull{
  text-align:center;
}


.bull_2{
  position:absolute;
  top:0;
  left:0;
}

#plug_text{
  font-size:50px;
  width:90%;
  color:#666;	
  text-align:center;
  text-shadow: 3px 3px 3px #ccc;
}

#busy_text{
  font-size:50px;
  width:90%;
  color:#666;	
  text-align:center;
  text-shadow: 3px 3px 3px #ccc;
  display:none;
}




